footer{
    width: 100%;
    background-color: #442902;
}

.footer-container{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    padding: 66px 0px;
    justify-content: space-around;
}

.logo{
    width: 201px;
    height: 22px;
    margin-right: 120px;
}

.info-block{
    margin-right: 70px;
}

.point{
    width: 12px;
    height: 16px;
    margin-right: 13px;
    margin-top: 9px;
}

.phone{
    width: 18px;
    height: 16px;
    margin-right: 13px;
    margin-top: 9px;
}

/*.clock{*/
/*    width: 18px;*/
/*    height: 16px;*/
/*    margin-right: 13px;*/
/*    margin-top: 9px;*/
/*}*/


.image-info{
    display: flex;
}

.info-block p{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 6px;
}

.image-info p{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.instagram{
    width: 24px;
    height: 23px;
    cursor: pointer;
}

.facebook{
    width: 12px;
    height: 23px;
    margin-left: 25px;
    cursor: pointer;
}

.telegram{
    width: 21px;
    height: 20px;
    margin-left: 25px;
    margin-top: 3px;
    cursor: pointer;
}

.arrow-up{
    margin-left: 75px;
    cursor: pointer;
}

@media (max-width: 1440px) {

    .info-display{
        display: none;
    }

   .footer-container{
       padding-left: 20px;
       padding-right: 20px;
   }

}

@media (max-width: 768px) {

    .info-block{
        display: none;
    }

    .social-life{
        display: none;
    }

    footer .logo {
        margin-right: 0px;
    }

}


@media (max-width: 425px) {
    .image-article {
        height: 310px;
    }
}

@media (max-width: 375px) {

    .arrow-up {
        margin-left: 10px;
        cursor: pointer;
    }
}
