
a {
    text-decoration: none;
}

main{
    width: 100%;

}
.header-wrapper{
    width: 100%;
    background-image: url("../images/front-page/man.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}
.wood-wrapper{
    max-width: 100%;
    padding: 20px 0px;
    display: flex;
}

.wood-container-left{
    margin-right: 20px;
    width: 48%;
    height: 866px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 36px;
    background-image: url("../images/front-page/wood1.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.wood-wrapper p{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.slice-wood p{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.wood-container-right{
    width: 50%;
    height: 866px;
}

.wood-container-right__top{
    width: auto;
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 36px;
    background-image: url("../images/front-page/wood-top.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.wood-container__down{
    width: 100%;
    height: 462px;
    margin-top: 20px;
    display: flex;
}

.wood-container-right__down{
    width: 49%;
    padding: 36px;
    background-image: url("../images/front-page/right-wood.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

.wood-container-right__down:nth-child(1){
    width: 49%;
    margin-right: 20px;
    background-image: url("../images/front-page/left-wood.png");
}


/*Slice Part*/

.slice-wood{
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.slice-wood-right{
    width: 21%;
    margin-left: 20px;
    height: 866px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 36px;
    background-image: url("../images/front-page/right-down-wood.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.slice-wood-left{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
}

.slice-wood-left__top{
    width: auto;
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 36px;
    background-image: url("../images/front-page/down-wood-down.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.slice-wood__down{
    width: 100%;
    height: 462px;
    display: flex;
    margin-bottom: 20px;
}

.slice-wood-left__down{
    width: 59%;
    padding: 36px;
    background-image: url("../images/front-page/white-wood.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

.slice-wood-left__down:nth-child(1){
    width: 30%;
    margin-right: 20px;
    background-image: url("../images/front-page/top-left-wood.png");
}

article{
    width: 100%;
    margin-top: 120px;
    margin-bottom: 120px;
}

.article-container{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.info-article{
    width: 49%;
    margin-right: 68px;
}


.info-article h1{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 61px;
    color: #442902;
    margin-bottom: 30px;
}

.info-article p{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    color: #131312;
}

.image-article{
    width: 49%;
    margin-top: 80px;
    height: 700px;
    background-image: url("../images/front-page/article.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.additional-info-wrapper{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.additional-info-section-wrapper{
    width: 100%;
}
.additional-info-wrapper-title{
    font-family: 'Arial';
    color: #442902;
    font-size: 2.9rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.additional-info-section{
    padding: 25px;
    background-color: #ECECEC;
    margin-top: 25px;
    margin-bottom: 25px;
    border-left: 6px solid #442902;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: 'Work Sans';
}
.additional-info-button{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.additional-info-cancel{
    width: 25px;
    height: 25px;
    display: none;
    transform: rotate(180deg);
    cursor: pointer;
}
.additional-info-text{
    display: none;
    font-family: "Work Sans";
    font-size: 1rem;
    /*margin-top: 20px;*/
}
@media (max-width: 1440px) {

    .additional-info-wrapper{
        width: 1000px;
        margin: 0 auto;
        margin-bottom: 100px;
    }

}

@media (max-width: 1024px) {

    .article-container {
        flex-direction: column;
    }

    .info-article {
        width: 100%;
        margin-right: 0px;
    }

    .image-article {
        width: 100%;
    }

    .wood-wrapper p{
        font-size: 16px;
    }

    .slice-wood p{
        font-size: 16px;
    }

    .wood-wrapper {
        padding: 10px 0px;
    }

    .wood-container-right__down:nth-child(1) {
        margin-right: 10px;
    }

    .wood-container-left {
        margin-right: 10px;
        height: 908px;
        padding: 10px;
    }

    .wood-container-right__down {
        padding: 10px;
    }

    .slice-wood__down {
        margin-bottom: 10px;
    }

    .wood-container__down {
        margin-top: 10px;
    }

    .slice-wood-right {
        width: 23%;
        height: 859px;
        margin-left: 10px;
        padding: 8px;
    }

    .slice-wood-left__down {
        padding: 10px;
        width: 62%;
    }

    .slice-wood-left__down:nth-child(1) {
        margin-right: 10px;
        width: 32%;
    }

    .slice-wood-left__top {
        padding: 10px;
    }
    .additional-info-wrapper{
        width: 700px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {

    .wood-wrapper {
        flex-direction: column;
    }

    .wood-container-left {
        margin-right: 0px;
        width: auto;
        padding: 10px;
        margin-bottom: 10px;
    }

    .wood-container-right {
        width: auto;
        height: 928px;
    }

    .slice-wood {
        flex-direction: column;
    }

    .slice-wood-right {
        height: 859px;
        padding: 8px;
        width: auto;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .slice-wood-left {
        width: 100%;
    }
    .additional-info-wrapper{
        width: 420px;
        margin: 0 auto;
        margin-bottom: 100px;
    }

}
@media (max-width: 430px) {
    .additional-info-wrapper{
        width: 350px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
}
@media (max-width: 375px) {

    .wood-container__down {
        flex-direction: column;
        width: auto;
    }

    .wood-container-right__down {
        width: auto;
        margin-right: 0px;
        height: 404px;
        margin-bottom: 5px;
    }

    .wood-container-right__top{
        margin-bottom: 5px;
        padding: 10px;
    }

    .wood-container-right__down:nth-child(1) {
        width: auto;
        margin-right: 0px;
        height: 404px;
    }

    .wood-container-left {
        margin-bottom: 5px;
        height: 600px;
    }

    .wood-container-right {
        width: auto;
        height: auto;
    }

    .wood-container__down {
        margin-top: 5px;
        height: auto;
    }

    .wood-wrapper {
        padding: 0px 0px;
    }

    .slice-wood__down {
        margin-bottom: 5px;
        flex-direction: column;
        height: auto;
    }

    .slice-wood-right {
        margin-bottom: 5px;
        height: 600px;
    }

    .slice-wood-left__down:nth-child(1) {
        margin-right: 0px;
        height: 600px;
        width: auto;
        margin-bottom: 5px;
    }

    .slice-wood-left__down {
        padding: 10px;
        height: 600px;
        width: auto;
    }
    .additional-info-wrapper{
        width: 300px;
        margin: 0 auto;
        margin-bottom: 100px;
    }

}